<!DOCTYPE html>
<html>
  <head>
    <title>Booking2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= object_theme('body', current_user) %>">
    <%= render partial: "shared/side_nav"%>
    <%= yield %>
  </body>
  <%= render partial: "shared/notice" %>
  <%= render partial: "shared/footer" %>
  <footer  class="<%= object_theme('footer', current_user) %>">
  </footer>
</html>
